* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    border: .3rem solid black;
    display: flex;
    align-items: flex-end;
    height: 50vh;
    flex-wrap: wrap;
}


.box {
    height: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;
}

.box-1 {
    background-color: grey;
    flex-grow: 1;
}
.box-2 {
    background-color: yellow;
    flex-grow: 1;
}
.box-3 {
    background-color: red;
}
.box-4 {
    background-color: rebeccapurple;
}
.box-5 {
    background-color: royalblue;
}
.box-6 {
    background-color: green;
}